@import "../../base.scss";

.startArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  .startLogo {
    max-width: 500px;

    @media screen and (max-width: 715px) {
      max-width: 400px;
    }

    @media screen and (max-width: 500px) {
      max-width: 350px;
    }
  }
}
