.btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
  height: 45px;
  color: $branco;
  font: 400 1.6em/1.8 $font-lato, sans-serif;
  @include border-radius(50px);
  background-color: $azul;
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;

  &.disabled {
    background-color: $botao-desabilitado;
    color: $branco;
    border-radius: 50px;
  }
}

.buttonContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.loading-box {
  width: 30px;
  height: 30px;
  border: 5px solid rgba(215, 54, 42, 0.4);
  border-top: 5px solid transparent;
  border-radius: 50%;
  animation: loading-spin 750ms linear infinite;
}
