@import "../../base.scss";
.buttonContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;

  .btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    height: 45px;
    color: $white;
    background-color: $red;
    outline: none;
    @include box-shadow(3px, 3px, 3px, $darkRed inset);

    &:active {
      box-shadow: 3px 3px $shadowRed;
      transform: translateY(4px);
    }

    &.disabled {
      background-color: $lightGray;
    }
  }
}

.loading-box {
  width: 30px;
  height: 30px;
  border: 5px solid $darkRed;
  border-top: 5px solid transparent;
  border-radius: 50%;
  animation: loading-spin 750ms linear infinite;
}
