@import "./reset.scss";

#root {
  width: 100vw;
  height: 100vh;
}

body {
  background: url("./assets/bg-star.png") no-repeat 20% 25%;
}

//
// Colors
//
$white: #fff;
$black: #000;
$red: #d7362a;
$darkRed: #942801;
$shadowRed: #520a0a;
$lightGray: #ccc;

//
// Fonts
//
$avenir: "Avenir";
$monaco: "Monaco";

//
// Mixins
//
@mixin box-shadow($left, $top, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow: inset $left $top $blur $color;
    -moz-box-shadow: inset $left $top $blur $color;
    box-shadow: inset $left $top $blur $color;
  } @else {
    box-shadow: $left $top $blur $color;
    -webkit-box-shadow: $left $top $blur $color;
    -moz-box-shadow: $left $top $blur $color;
    -ms-box-shadow: $left $top $blur $color;
    -o-box-shadow: $left $top $blur $color;
  }
}

@mixin transition($property, $duration, $easing: linear) {
  transition: $property $duration $easing;
  -webkit-transition: $property $duration $easing;
  -moz-transition: $property $duration $easing;
  -ms-transition: $property $duration $easing;
  -o-transition: $property $duration $easing;
}

@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
}
